version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: safi_app
    restart: always
    
    command: gunicorn --bind 0.0.0.0:5000 --workers 4 --threads 2 --worker-class gthread --timeout 120 run:app
    
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_DEBUG=0