services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: safi_dev
    restart: always
    
    command: flask run --host=0.0.0.0 --port=5000
    
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_DEBUG=1

    volumes:
      - .:/app