version: "3.9"

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      network: host
    container_name: safi_dev
    restart: always
    command: flask run --host=0.0.0.0 --port=5000
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=run.py
      - FLASK_DEBUG=1
      - MONGO_URI=mongodb://${ROOT_USERNAME}:${ROOT_PASSWORD}@mongo:27017/safi_db?authSource=admin
    volumes:
      - ..:/app
    depends_on:
      - mongo
    networks:
      - backend

  test_runner:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      network: host
    command: pytest
    volumes:
      - ..:/app
    environment:
      - FLASK_DEBUG=1
      - MONGO_URI=mongodb://${ROOT_USERNAME}:${ROOT_PASSWORD}@mongo:27017/safi_test_db?authSource=admin
    depends_on:
      - mongo
    networks:
      - backend

  mongo:
    image: mongo:7
    container_name: safi_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${ROOT_PASSWORD}
    networks:
      - backend
    restart: always

networks:
  backend:

volumes:
  mongo_data: